@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,400;1,500;1,600&display=swap');

$color-background: hsl(0, 0%, 97%);
$color-rose: hsl(337, 96%, 68%);
$color-purple: hsl(269, 76%, 65%);
$color-blue: hsl(176, 100%, 47%); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: $color-background;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container .box {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.container .box-img {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    margin-bottom: 20px;
}
.container .box-img img {
    border-radius: 100%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.container .box:nth-child(1){
    transform: translateX(-70px);
} 
.container .box:nth-child(3){
    transform: translateX(70px);
}
.container:hover .box:nth-child(1), 
.container:hover .box:nth-child(3){
    transform: translateX(0px);
}  
.container .box::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--color-left);
    transition: 0.5s ease-in-out;
}
.container .box:hover::before {
    width: 100%;
}
.container .box .content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.container .box .content .content-icon {
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box .content .content-icon ion-icon {
    font-size: 2.5em;
    color: var(--color-left);
}
.container .box:hover .content .content-icon ion-icon,
.container .box:hover .content .content-text {
    color: #FFF; 
}
.container .box .content .content-text h3 {
    font-weight: 600;
    color: var(--color-left);
    transition: 0.5s ease-in-out;
}
.container .box .content .content-text p { 
    font-size: 0.9em;
    color: #999;
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .content-text h3,
.container .box:hover .content .content-text p {
    color: #FFF;
}
.form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.form .form-inpt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;

    &:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    }
}
.form .form-inpt input {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: transparent; 
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 4em;
}
.form .form-inpt> button { 
    position: absolute;
    min-height: 50px;
    min-width: 50px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1;
    cursor: pointer;
    border: none;
    background-color: transparent;
} 
.form .form-inpt> button> ion-icon { 
    min-height: 1.5em;
    min-width: 1.5em;  
} 

.error {
    color: red;
    font-size: 0.8em;  
    margin-right: 15px;
    transform: translateY(-20px);
}

@media screen and (max-width: 500px) { 
    .container .box { 
        width: 300px;
    }
    .container .box:nth-child(1){
        transform: translateX(-15px);
    } 
    .container .box:nth-child(3){
        transform: translateX(15px);
    } 
    .form .form-inpt input {
        width: 300px;
    }
}